page-main {
    .logo-image {
        width: 30%;
    }
    .page-title {
        margin-top: 20px;
        span {
            font-size: 2rem;
            text-align: center;
            margin: auto;
        }
    }
    .assets-property-row {
        margin-top: 20px;
        width: 110%;
        margin-left: -5%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ed7d31;
        span {
            color: white;
            font-size: 2rem;
            text-align: center;
            margin: auto;
        }
    }
    .org-investment {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 110%;
        margin-left: -5%;
        span {
            font-size: 1.7rem;
            padding-left: 5%;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .daily-yield {
        background: #f2f2f2;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 110%;
        margin-left: -5%;
        span {
            color: #efa960;
            font-size: 1.7rem;
            padding-left: 5%;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .live-feed {
        span {
            width: 100px;
            color: white;
            background-color: #b1dd8c; // margin: auto;
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            color: black;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    .live-feed-value {
        span {
            color: #548235;
            font-size: 2.7rem;
            text-align: center;
            margin: auto;
            font-weight: 500;
        }
    }
    .trade-centre {
        margin-top: 40px;
        margin-bottom: 10px;
        button {
            font-size: 1.8rem;
            width: 80%;
            color: white;
            background-color: #ed7d31;
            margin: auto;
        }
    }
    .transaction-centre {
        margin-top: 20px;
        margin-bottom: 30px;
        button {
            font-size: 1.8rem;
            width: 80%;
            color: white;
            background-color: #ed7d31;
            margin: auto;
        }
    }
    .buy-sell-row {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        .invest-buy {
            margin: auto;
            font-size: 2.3rem;
            text-align: center;
            color: #668839;
        }
        .invest-sell {
            color: red;
            font-size: 2.3rem;
            margin: auto;
            text-align: center;
        }
        .finger-image {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
    .access-code {
        margin-top: 10px;
        margin-bottom: 20px;
        button {
            width: 40%;
            color: white;
            background-color: #21bacf;
            padding: 1px 0px;
            margin: auto;
            border-radius: 8px;
        }
    }
    .graph-row {
        margin-top: 30px;
        margin-bottom: 30px;
        mat-form-field{
            margin-top: 20px;
        }
    }
}