page-main {
    ion-content {
        background-color: #2a363e !important;
    }
    .page-title {
        margin-top: 50px;
        span {
            font-size: 3.5rem;
            text-align: center;
            margin: auto;
            color: white;
        }
    }
}