page-initial-login {
    ion-content {
        background-color: white !important;
    }
    .user-input-row {
        width: 96%;
        margin-left: auto;
        margin-right: auto; // height: 35px;
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
    }
    .user-password-row {
        width: 96%;
        margin-left: auto;
        margin-right: auto; // height: 35px;
        margin-top: 30px;
        margin-bottom: 10px;
        position: relative;
    }
    #userProfile {
        margin-top: 20px;
    }
    .signup-row {
        margin-bottom: 20px;
        .signup-button {
            width: 100%;
            font-size: 17px;
            text-transform: uppercase;
            margin: auto; // background-color: #ed7d31;
            // border-radius: 5px; // color: white;
            background-color: #781e41;
            color: #C0C0C0;
        }
    }
    .mat-error-show {
        display: block;
        color: #f44336;
        margin-top: 10px;
        font-size: 11px;
        position: absolute;
    }
    .goto-signup-row {
        .not-reg {
            margin: auto;
            text-align: center;
            color: white;
        }
        .new-user {
            // margin: auto;
            text-align: center;
            color: #5d5d5d; // text-decoration: underline;
            margin-top: 5px;
        }
        .goto-signup {
            // margin: auto;
            text-align: center;
            color: #5d5d5d; // text-decoration: underline;
            margin-top: 5px;
        }
    }
    .forgot-password {
        margin-bottom: 20px;
        margin-top: 20px;
        span {
            font-size: 1.8rem;
            color: #5d5d5d;
            text-align: right;
            margin-left: auto;
        }
    }
    .content-ios {
        .scroll-content {
            margin-top: 5%;
            border: 2px solid #737476;
            width: 94%;
            margin-left: 3%;
            height: 94%;
            margin-top: 7%;
            overflow-y: auto !important;
        }
    }
    .content-md {
        .scroll-content {
            border: 2px solid #737476;
            width: 94%;
            margin-left: 3%;
            height: 96%;
            margin-top: 3%;
            overflow-y: auto !important;
        }
    } // .content-md .scroll-content {
    //     border: 2px solid #0061ff;
    //     width: 94%;
    //     margin-left: 3%;
    //     height: 96%;
    //     margin-top: 3%;
    //     overflow-y: auto !important;
    // }
    // .content-ios .scroll-content {
    //     border: 2px solid #0061ff;
    //     width: 94%;
    //     margin-left: 3%;
    //     height: 94%;
    //     margin-top: 3%;
    //     overflow-y: auto !important;
    // }
    .item-center{
        margin: auto;
        text-align: center;
        font-size: 16px;
    }
}