<!--
  Generated template for the CurrencyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <ion-row class="total-balance">
    <span>
      Total Balance
    </span>
  </ion-row>
  <ion-row class="total-value">
    <span>
      ${{totalInvest}}
    </span>
  </ion-row>
  <ion-row class="total-bonus">
    <span>
      {{disInvest}} ({{disPercent}})
    </span>
  </ion-row>
  <ion-row class="graph-row">
    <ion-card *ngFor="let list of showTotalData; let i = index" (click)="gotoDetail(i)">

      <ion-card-header>
        <ion-row class="card-header">
          <ion-col col-6>
            <ion-row class="full-height left-element">
              <ion-row class="big-ttle">
                <span>
                  {{list.bigTitle}}
                </span>
              </ion-row>
              <ion-row class="small-title">
                <span>
                  {{list.smallTitle}}
                </span>
              </ion-row>
            </ion-row>
          </ion-col>

          <ion-col col-6>
            <ion-row class="full-height right-element">
              <ion-row class="big-ttle">
                <span>
                  ${{list.totalValue}}
                </span>
              </ion-row>
              <ion-row [ngClass]="{'small-normal-title':!list.classState, 'small-red-title':list.classState}">
                <span>
                  {{list.changeValue}} ({{list.chanagePercent}})
                </span>
              </ion-row>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content *ngIf="enableShow">
        <canvas baseChart width="100%" height="50" [datasets]="list.lineChartData" [labels]="list.lineChartLabels"
          [options]="list.lineChartOptions" [colors]="list.lineChartColors" [chartType]="list.lineChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </ion-card-content>
    </ion-card>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="footer-row">
    <ion-col col-4>
      <ion-row class="full-height" (click)="goDashBoard()">
        <ion-row class="icon-row">
          <img src="assets/imgs/dashboard.png" />
        </ion-row>
        <ion-row class="tab-title">
          <span>
            Dashboard
          </span>
        </ion-row>
      </ion-row>
    </ion-col>

    <ion-col col-4>
      <ion-row class="full-height" (click)="goReceipt()">
        <ion-row class="icon-row">
          <img src="assets/imgs/receipt.png" />
        </ion-row>
        <ion-row class="tab-title">
          <span>
            Receipts
          </span>
        </ion-row>
      </ion-row>
    </ion-col>

    <ion-col col-4>
      <ion-row class="full-height" (click)="logOut()">
        <ion-row class="icon-row">
          <img src="assets/imgs/logout.png" />
        </ion-row>
        <ion-row class="tab-title">
          <span>
            Logout
          </span>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>