page-welcome {
    .logo-image {
        width: 30%;
    }
    .welcome-row {
        margin-top: 5%;
        color: white;
        .small-des {
            width: 100%;
            text-align: center;
            margin: auto;
            font-size: 1.8rem;
        }
        .big-des {
            width: 100%;
            text-align: center;
            margin: auto;
            font-size: 2.5rem;
        }
    }
    .vault-row {
        margin-top: 20px;
        img {
            width: 50%;
            height: 100%;
            margin: auto;
        }
    }
    .log-des {
        margin-top: 20px;
        margin-bottom: 20px;
        span {
            color: white;
            width: 70%;
            font-size: 1.5rem;
            text-align: center;
            margin: auto;
        }
    }
    .identy-row {
        width: 80%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: red;
        color: white;
        height: 35px;
        span {
            font-size: 2rem;
            margin: auto;
            padding: 2px 5px;
        }
    }
    .portfolio-row {
        button {
            margin: auto;
            height: 35px;
            background-color: #FFD700;
            color: #C0C0C0;
            font-size: 1.8rem;
            border-radius: 5px;
        }
    }
    .four-part-row {
        margin-top: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        .top-part-row {
            border-bottom: 1px solid #dc9974;
        }
        .left-border {
            border-left: 1px solid #dc9974;
        }
        span {
            margin: auto;
            text-align: center;
            font-size: 1.6rem;
            color: #929292;
        }
    }
}