page-signup {
    ion-content {
        background-color: white !important;
    }
    .user-input-row {
        width: 96%;
        margin-left: auto;
        margin-right: auto; // height: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
    }
    #userProfile {
        margin-top: 30px;
    }
    .signup-row {
        margin-bottom: 30px;
        .signup-button {
            // width: 50%;
            // margin: auto;
            // background-color: #ed7d31;
            // border-radius: 5px;
            // color: white;
            width: 100%;
            font-size: 17px;
            text-transform: uppercase;
            margin: auto; // background-color: #ed7d31;
            // border-radius: 5px; // color: white;
            background-color: #781e41;
            color: #C0C0C0;
        }
    }
    .mat-error-show {
        display: block;
        color: #f44336;
        margin-top: 10px;
        font-size: 11px;
        position: absolute;
    }
    .user-input-dob {
        border-bottom: 1px solid #a16c92;
        margin-bottom: 20px;
        margin-top: -10px;
        ion-col {
            padding: unset;
        }
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        ion-datetime {
            text-align: left;
            margin-top: auto;
            margin-bottom: auto;
            padding-left: unset !important;
            background-color: white;
            width: 100%;
            height: 30px;
        }
        ion-item {
            padding-left: unset !important;
            font-size: 1.6rem !important;
            .item-inner {
                border-bottom: unset !important;
                padding-right: unset !important;
            }
        }
        .mat-error-show {
            bottom: -15px;
        }
    }
    .content-ios {
        .scroll-content {
            margin-top: 5%;
            border: 2px solid #737476;
            width: 94%;
            margin-left: 3%;
            height: 94%;
            margin-top: 7%;
            overflow-y: auto !important;
        }
    }
    .content-md {
        .scroll-content {
            border: 2px solid #737476;
            width: 94%;
            margin-left: 3%;
            height: 96%;
            margin-top: 3%;
            overflow-y: auto !important;
        }
    }
}